:root {
  --primary-color: #E3A130;
  --bg-primary-400: #F5FBFF;
  --secondry-color: #7C7F86;
  --white-color: #fff;
  --gray-400: #BEBEBE;
  --green-color: #11D147;
  --danger-color: #B42318;
  --light-bg: #FFFFFF;
  --dark-blue: #131A2C;
  --black-bg: #252A36;
  --bg-dark-theame:#0a2538;
  --dark-text: #667085;
  --light-text: #FFFFFF;
  --btn-color: #0079B5;
  --btn-text-color: #ECECEB;
  --black-color: #101828;
  --radius-btn: 0.5rem;
  --gradient-one: linear-gradient(91.14deg, #E2A12D 0%, #AF7100 101.23%);
  --gradient-two: linear-gradient(207.33deg, #0E3049 0.74%, #000000 100%);
  --gradient-three: linear-gradient(91.14deg, #f8a311 0%, #a66c00 101.23%);
  --gradient-four: linear-gradient(90deg, #0E3049 0.01%, rgba(1, 21, 43, 0) 100%);
  --gradient-five:linear-gradient(207.33deg, #062033 0.74%, #000000 100%);
  --z-index: 1;
  --z-index-sticky: 9;
  --z-index-sidebar: 99;
  --z-index-popup: 999;
  --primary-font: "Georgia", sans-serif;
  --title-font: "Georgia", sans-serif;
  --login-font:"PlayfairDisplay", sans-serif;
  --kalam-font:"Kalam", sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-smedium: 600;
  --font-weight-bold: 700;
  --base-text: 0.875rem;
  --font-style-italic: italic;
  --line-height: 1rem;
  --text-xmd: 1.1875rem;
  --text-md: 1.125rem;
  --text: 1rem;
  --text-sm:0.6875rem;
  --text-xs:0.875rem;
  --text-xxs:0.625rem;
  --h1:1.125rem;
  --h2-xl:1.5625rem;
  --h2:1.5625rem;
  --h3-xl:1.375rem;
  --h3:1.375rem;
  --h4-xl:1.25rem;
  --h4:1.25rem;
  --h5-xl:1.125rem;
  --h5:1.125rem;
  --h6-xl:1rem;
  --h6:1rem;
}

@media (min-width: 575px) {
  :root {
    --container-w: 100%;
    --line-height: 1.6rem;
    --base-text: 1rem;
    --text-xmd: 1.25rem;
    --text-md: 1rem;
    --text: 1rem;
    --text-sm:0.875rem;
    --text-xs:0.75rem;
    --text-xxs:0.625rem;
    --h1:2.125rem;
    --h2-xl:2rem;
    --h2:2rem;
    --h3-xl:1.5rem;
    --h3:1.5rem;
    --h4-xl:1.25rem;
    --h4:1.25rem;
    --h5-xl:1.125rem;
    --h5:1.125rem;
    --h6-xl:1rem;
    --h6:1rem;
  }
}
@media (min-width: 768px) {
  :root {
    --container-w: 46.875rem;
  }
}
@media (min-width: 992px) {
  :root {
    --container-w: 56.25rem;
    --text-xmd: 1.1875rem;
    --text-md: 1.125rem;
    --text: 1rem;
    --text-sm:0.875rem;
    --text-xs:0.75rem;
    --text-xxs:0.625rem;
    --h1:2.5rem;
    --h2-xl:1.875rem;
    --h2:1.875rem;
    --h3-xl:1.75rem;
    --h3:1.75rem;
    --h4-xl:1.3125rem;
    --h4:1.3125rem;
    --h5-xl:1.25rem;
    --h5:1.25rem;
    --h6-xl:1.125rem;
    --h6:1.125rem;
  }
}
@media (min-width: 1200px) {
  :root {
    --container-w: 67.5rem;
    --base-text: 1rem;
  }
}
@media (min-width: 1280px) {
  :root {
    --container-w: 72.5rem;
  }
}
@media (min-width: 1440px) {
  :root {
    --container-w: 82.5rem;
    --base-text: 1.125rem;
  }
}
@media (min-width: 1800px) {
  :root {
    --container-w: 76.25rem;
    --line-height: 1.5rem;
    --base-text: 1rem;
    --text-xmd: 1.1875rem;
    --text-md: 1.125rem;
    --text: 1rem;
    --text-sm:0.875rem;
    --text-xs:0.75rem;
    --text-xxs:0.625rem;
    --h1:3.75rem;
    --h2-xl:2.925rem;
    --h2:2.625rem;
    --h3-xl:2.375rem;
    --h3:2rem;
    --h4-xl:2rem;
    --h4:1.875rem;
    --h5-xl:1.5rem;
    --h5:1.5rem;
    --h6-xl:1.3125rem;
    --h6:1.125rem;
  }
}
body {
  background: #F2F2F2;
}
body .lm_vec {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}
body .lm_vec .light {
  display: block;
}
body .lm_vec .dark {
  display: none;
}

.lm__header-logo {
  display: none;
}

.lm__dash-con {
  margin-top: 150px;
}
@media (max-width: 992px) {
  .lm__dash-con {
    margin-top: 100px;
  }
}

.z-index-n1 {
  z-index: -1;
}

.z-index-3 {
  z-index: 3;
}

.lm__menu-start {
  width: 350px !important;
  background: transparent;
}
.lm__menu-start .offcanvas-header {
  z-index: 9;
}

.lm_post-card {
  max-width: 730px;
  width: 100%;
}
.lm_post-card .card {
  border-radius: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}
.lm_post-card .card .lm_post-tab {
  border: none;
}
.lm_post-card .card .lm_post-tab .nav-item .nav-link {
  border: none;
  padding: 14px 34px;
  color: #252A36;
  border-bottom: 2px solid transparent;
}
.lm_post-card .card .lm_post-tab .nav-item .nav-link.active {
  border-bottom: 2px solid #E3A130;
}
.lm_post-card .card .lm_post-tab .lm_post-input-wrap textarea {
  border: none;
}
.lm_post-card .card .post-book.active svg path {
  fill: #E3A130;
  stroke: #E3A130;
}
.lm_post-card .morelink {
  color: #E3A130;
  font-family: var(--title-font);
}
.lm_post-card .morecontent span {
  display: none;
}
.lm_post-card .post_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.lm_post-card .post_button .post_play-btn {
  border-radius: 50%;
  background: #101828;
  background-image: var(--gradient-two);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .lm_post-card .post_button .post_play-btn {
    width: 50px;
    height: 50px;
  }
  .lm_post-card .post_button .post_play-btn span img {
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
  }
}
.lm_post-card .lm-drop {
  max-width: 185px;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 10px 5px;
  border-radius: 20px;
}
.lm_post-card .lm-drop:focus {
  outline: none;
  border: none;
}
.lm_post-card .lm-drop .dropdown-toggle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.lm_post-card .lm-drop .dropdown-menu {
  max-width: 185px;
  width: 100%;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.lm_post-card .lm_form-add {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.lm_post-card .lm_post-button .btn {
  padding-top: 10px;
  padding-bottom: 10px;
}
.lm_post-card .lm_post-button .lm__cal span {
  border-radius: 50%;
  background: #101828;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.lm_post-card.lm_card-post .lm_card-post-logo span {
  border-radius: 50%;
  background: #FFF;
  width: 76px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
@media (max-width: 576px) {
  .lm_post-card.lm_card-post .lm_card-post-logo span {
    width: 50px;
    height: 50px;
  }
}
.lm_post-card.lm_card-post .dropdown .dropdown-toggle::after {
  display: none;
}
.lm_post-card.lm_card-post .post_inner-card {
  border-radius: 15px;
  padding: 50px 65px !important;
  background-color: transparent !important;
  border: 1px solid #BEBEBE;
  padding: 40px !important;
}
@media (max-width: 992px) {
  .lm_post-card.lm_card-post .post_inner-card {
    padding: 30px 40px !important;
  }
}
@media (max-width: 375px) {
  .lm_post-card.lm_card-post .post_inner-card {
    padding: 30px 15px !important;
  }
}
.lm_post-card.lm_card-post .post_inner-card h6 {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}
.lm_post-card.lm_card-post .post_inner-card .btn {
  padding-left: 26px !important;
  padding-right: 26px !important;
}
@media (max-width: 576px) {
  .lm_post-card.lm_card-post .post_inner-card .btn {
    padding-left: 16px !important;
    padding-right: 16px !important;
    font-size: 14px;
  }
}
.lm_post-card.lm_card-post .post_comment-reply .avtar {
  border-radius: 50%;
  background: #FFF;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-shrink: 0;
}
.lm_post-card.lm_card-post .post_comment-wrap input:focus {
  border: none;
  outline: 1px solid #E3A130;
}
.lm_post-card.lm_card-post .moretext {
  display: none;
}
.lm_post-card.lm_card-post .dropdown .open > .dropdown-menu {
  display: block;
  width: 100%;
  border: none;
  position: static;
}
.lm_post-card.lm_card-post .dropdown .dropdown-menu {
  min-width: 320px !important;
  width: 100% !important;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
@media (max-width: 576px) {
  .lm_post-card.lm_card-post .dropdown .dropdown-menu {
    min-width: 250px !important;
  }
}
.lm_post-card.lm_card-post .dropdown .dropdown-menu span.icon-md {
  border-radius: 50%;
  background: #E3A130;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex: 0 0 auto;
}
.lm_post-card.lm_card-post .dropdown .dropdown-menu.show {
  z-index: 2 !important;
}
.lm_post-card.lm_card-post .dropdown .dropdown-menu.dropdown-menu-inner {
  min-width: 280px !important;
  max-width: 280px !important;
  width: 100% !important;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin: 0 auto;
}
@media (max-width: 576px) {
  .lm_post-card.lm_card-post .dropdown .dropdown-menu.dropdown-menu-inner {
    min-width: 220px !important;
    max-width: 220px !important;
  }
}
.lm_post-card.lm_card-post .dropdown .dropdown-menu .divider {
  height: 1px;
  margin: 9px auto;
  overflow: hidden;
  background-color: #e5e5e5;
  max-width: 290px;
  width: 100%;
}
.lm_post-card.lm_card-post .dropdown .dropdown-menu .dropdown-item {
  color: #252A36;
  font-size: 16px;
  padding: 8px 20px;
}
.lm_post-card.lm_card-post .dropdown .dropdown-menu .dropdown-item:hover {
  color: #000;
  background-color: #E3A130;
}
.lm_post-card.lm_card-post .dropdown .dropdown-menu .dropdown-item:active {
  color: #000;
  background-color: #E3A130 !important;
}
.lm_post-card.lm_card-post .dropdown .dropdown-menu h6 {
  color: #000000;
  font-size: 20px;
}
.lm_post-card.lm_card-post .dropdown .toggler > a::after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 8px 8px 0px 8px;
  border-top-color: #000;
  margin-top: 7px;
  margin-right: -5px;
  border-radius: 5px;
}

.post_cmtt-show {
  display: none;
  transition: all 0.5s ease-in-out;
}
.post_cmtt-show.active {
  display: block;
  transition: all 0.5s ease-in-out;
}
.post_cmtt-show .btn-cancle {
  min-width: auto;
}

.lm_rep .post_comment-rep {
  display: none;
}
.lm_rep.active .post_comment-rep {
  display: block;
}
.lm_rep.active .rep-btn {
  display: none;
}

.lm__modal-4 {
  max-width: 705px;
  width: 100%;
}
@media (max-width: 786px) {
  .lm__modal-4 {
    margin: 0 auto;
    max-width: 90%;
  }
}
.lm__modal-4 .modal-body {
  background-image: var(--gradient-two);
}
.lm__modal-4 .modal-header {
  border: 0;
  box-shadow: none;
}
.lm__modal-4 .modal-header .btn-close {
  background-image: none;
}
.lm__modal-4 .lm__modal-4-vec {
  opacity: 0.06;
}
.lm__modal-4 h6 {
  font-size: 20px;
}
.lm__modal-4 .btn-close {
  background-image: none;
}
.lm__modal-4 .btn-close:focus {
  outline: none;
  box-shadow: none;
}
.lm__modal-4 .btn--primary {
  padding: 8px 38px !important;
  border-radius: 5px;
}
.lm__modal-4 .lm-check-term {
  font-family: var(--title-font);
}

.lm__modal-5 {
  max-width: 545px;
  width: 100%;
}
@media (max-width: 576px) {
  .lm__modal-5 {
    margin: 0 auto;
    max-width: 90% !important;
  }
}
.lm__modal-5 .modal-header {
  border: 0;
  box-shadow: none;
}
.lm__modal-5 .btn-close:focus {
  outline: none;
  box-shadow: none;
}
.lm__modal-5 textarea {
  border: 1px solid #252A36;
  border-radius: 5px;
  font-size: 18px;
  color: #252A36;
}
.lm__modal-5::placeholder {
  color: #252A36;
}
.lm__modal-5 .btn--primary {
  padding: 8px 38px !important;
  border-radius: 5px;
}
.lm__modal-5 .btn-close.close {
  background-image: none;
}
.lm__modal-5 .btn-close.close:focus {
  outline: none;
  box-shadow: none;
}

.lm_mxw50 {
  max-width: 565px;
  width: 100%;
  margin: 0 auto;
}
.lm_mxw50 .lm_report textarea {
  min-width: 300px !important;
  width: 100%;
  background: none;
  border: 1px solid #BEBEBE;
  border-radius: 5px;
  color: #fff;
}
.lm_mxw50 .lm_report::placeholder {
  color: #fff;
}

.lm__modal-6 {
  max-width: 705px;
  width: 100%;
}
.lm__modal-6 .modal-header {
  border: 0;
  box-shadow: none;
}
.lm__modal-6 .btn-close {
  background-image: none;
}
.lm__modal-6 .btn-close:focus {
  outline: none;
  box-shadow: none;
}
.lm__modal-6 .lm__form-input label {
  font-family: var(--title-font) !important;
}
.lm__modal-6 .lm__form-input input {
  font-family: var(--title-font) !important;
}
.lm__modal-6 h6 {
  font-size: 20px !important;
}

.lm_upcoming-events {
  max-width: 375px;
  width: 100%;
  margin-left: 22px;
}
@media (max-width: 768px) {
  .lm_upcoming-events {
    max-width: 100%;
    margin-left: 0px;
  }
}
.lm_upcoming-events .card {
  border-radius: 20px;
  max-height: 450px;
  overflow: auto;
}
.lm_upcoming-events h6 {
  font-size: 20px !important;
}
@media (max-width: 768px) {
  .lm_upcoming-events h6 {
    font-size: 16px !important;
  }
}
.lm_upcoming-events .ev_date {
  width: 100%;
  max-width: 100px;
  height: 100px;
  white-space: nowrap;
  flex-shrink: 0;
}
.lm_upcoming-events .ev_date img {
  height: 100%;
}
.lm_upcoming-events .lm_mx-25 {
  max-width: 295px;
  width: 100%;
}
@media (max-width: 768px) {
  .lm_upcoming-events .lm_mx-25 {
    max-width: 100%;
  }
}
.lm_upcoming-events .lm_rsvp {
  font-size: 10px;
  border: 1px solid #BEBFC3;
  padding: 2px 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.lm_upcoming-events.lm_member-online .card .d-flex.flex-wrap {
  width: 100%;
  overflow: auto;
  flex-wrap: nowrap !important;
}

.lm__form-input label {
  font-size: 20px;
  flex-shrink: 1;
  color: #252A36;
}
@media (max-width: 576px) {
  .lm__form-input label {
    font-size: 14px;
  }
}
.lm__form-input .form-control-icon {
  width: 100%;
}
.lm__form-input .form-control-icon .icon {
  padding-left: 3.438rem;
  max-width: 260px !important;
  width: 100% !important;
}
.lm__form-input .form-control-icon input {
  font-family: var(--title-font) !important;
}
.lm__form-input .form-control-icon span {
  position: absolute;
  top: 50%;
  left: 33px;
  transform: translate(-50%, -50%);
}
.lm__form-input textarea.form-control {
  height: 200px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.banner .video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner .content {
  position: relative;
  z-index: 1;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}
.banner .content h1 {
  font-size: 4.5em;
  color: #fff;
}
.banner .content p {
  font-size: 1.7em;
  color: #fff;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 30px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 4px 2px;
  cursor: pointer;
}

.header-overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  background: #225470;
  opacity: 0.55;
}

.img-1 {
  display: block;
}

.img-2 {
  display: none;
}

.play .img-1 {
  display: none;
}
.play .img-2 {
  display: block;
}

.select2.select2-container {
  max-width: 185px !important;
  width: 100% !important;
  background: #fff !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) !important;
  padding: 2px 5px !important;
  border-radius: 20px !important;
  border: none !important;
  overflow: hidden;
}

.select2-container--default .select2-selection--single {
  border: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  transform: translate(-50%, -50%);
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: none;
  color: #000;
}

span.select2-dropdown.select2-dropdown--below {
  border: none;
  border-radius: 20px !important;
  overflow: hidden;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  z-index: 1;
  position: absolute;
  top: 100%;
  width: 100%;
  border-radius: 0 0 0.313rem 0.313rem;
  left: 0;
  right: 0;
  box-shadow: 1px -6px 30px rgba(23, 25, 27, 0.07);
}
span.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus.select2-container--open {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

ul#select2-select_box-results li:hover {
  background: none;
  color: #000;
}

input.select2-search__field {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1490196078) !important;
  border-radius: 10px;
  outline: none !important;
}

span.selection {
  display: flex;
}

.select2-search--dropdown {
  padding: 0;
}

.select2-container--default .select2-results__option--selected {
  background-color: transparent !important;
}

#a.hide .lm__form-input label {
  font-size: 16px !important;
  font-family: var(--title-font) !important;
}

.post_options,
.post_percentage {
  background: var(--gradient-two);
  padding: 15px 30px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.post_options .form-check-label,
.post_percentage .form-check-label {
  cursor: pointer;
}
.post_options .form-check-label .h6,
.post_percentage .form-check-label .h6 {
  font-size: 18px;
}
.post_options .lm__form-input.radio,
.post_percentage .lm__form-input.radio {
  border: 1px solid #e3a130;
  border-radius: 5px;
  padding: 2px 10px;
}
.post_options .lm__form-input.radio .form-check-input:checked,
.post_percentage .lm__form-input.radio .form-check-input:checked {
  box-shadow: inset 0px 0px 0px 2px #0b2539 !important;
}

.post_percentage {
  background: var(--gradient-two);
  padding: 15px 30px;
  max-width: 350px;
  width: 100%;
  margin: auto;
}
.post_percentage .lm__form-input.radio {
  border: none;
}

.lm_post-card.lm_card-post .post_inner-card.card-border-light {
  background-color: transparent !important;
  border: 1px solid #BEBEBE;
  padding: 40px !important;
}
.lm_post-card.lm_card-post .post_inner-card.card-border-light .post_options {
  background: transparent !important;
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 !important;
}
.lm_post-card.lm_card-post .post_inner-card.card-border-light h6 {
  width: 100% !important;
  max-width: 100% !important;
  text-align: start;
}
.lm_post-card.lm_card-post .post_inner-card.card-border-light .progress {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  background: transparent;
  cursor: pointer;
}
.lm_post-card.lm_card-post .post_inner-card.card-border-light .progress-bar {
  background: #DEDEDE;
  border: 1px solid #F2F2F2;
  border-radius: 5px 0 0 5px;
  transition: all 0.6s ease;
  cursor: pointer;
}
.lm_post-card.lm_card-post .post_inner-card.card-border-light .progress-bar.voted {
  background: #01152B;
  transition: all 0.6s ease;
}
.lm_post-card.lm_card-post .post_inner-card.card-border-light .progress-bar.voted .title-font.h6 {
  color: #ffffff;
}
.lm_post-card.lm_card-post .post_inner-card.card-border-light .title-font.h6 {
  color: #01152B;
}

.progress-bar[style="width: 100%"] {
  border-radius: 5px !important;
}

.lm_post-input-emoji span.select2.select2-container.select2-container--default {
  max-width: 185px !important;
  border-radius: 30px !important;
}

.lm_upcoming-events .tab-content .card {
  max-height: 350px;
  overflow: scroll;
}

body.body .lm_post-card.lm_card-post .lm_card-post-logo span {
  background: #01152b;
}

@media (max-width: 1400px) {
  .lm_post-card {
    max-width: 580px;
  }
}
@media (max-width: 1200px) {
  .lm_post-card {
    max-width: 480px;
  }
  .lm_upcoming-events {
    margin-left: 0;
  }
  .lm__dash {
    width: 250px;
    padding: 15px;
  }
  .lm__dash .lm__dash-con .container,
  .lm__dash .dash__header .container {
    padding-left: 300px;
  }
}
@media (max-width: 991px) {
  .lm_post-card {
    max-width: 100%;
    /* flex:100%; */
  }
  .col.col-md-5.col-xxl-4.mb-4 {
    /* max-width: 100%; */
    flex: 100%;
  }
  .lm__dash {
    width: 250px;
    padding: 15px;
  }
  .lm__dash .lm__dash-con .container,
  .lm__dash .dash__header .container {
    padding-left: 50px;
  }
}
@media (max-width: 768px) {
  .lm_post-card {
    max-width: 100%;
    flex: 100%;
  }
  .col.col-md-5.col-xxl-4.mb-4 {
    max-width: 100%;
    flex: 100%;
  }
  .lm__dash {
    width: 250px;
    padding: 15px;
  }
  .lm__dash .lm__dash-con .container,
  .lm__dash .dash__header .container {
    padding-left: 50px;
  }
}
.fr-video.fr-dvf.fr-draggable .fr-draggable {
  width: 100% !important;
  border-radius: 10px;
  max-height: 380px;
}

body.dark .progress-bar.voted {
  background: #E3A130 !important;
}
body.dark .emoji-items-wrap1 {
  background: #01152b;
  padding: 5px 2px 5px 5px;
}
body.dark .lm_post-card.lm_card-post .post_inner-card.card-border-light .title-font.h6 {
  color: #01152b;
}
body.dark .lm_post-card.lm_card-post .post_inner-card.card-border-light .progress {
  background: #fff;
}
body.dark .progress-bar.voted + .d-flex.w-100.justify-content-between .title-font.h6 {
  color: #01152b;
}

.lm-featured-post {
  position: relative;
}
.lm-featured-post .card {
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #0D2137 !important;
  transition: all 0.5s ease-in-out;
}
.lm-featured-post .card .card-img img {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 768px) {
  .lm-featured-post .card .card-img img {
    max-height: 150px;
  }
}
.lm-featured-post .card .card-body {
  height: 100%;
  align-items: center;
}
.lm-featured-post .card .lm_card-post-logo span {
  border-radius: 50%;
  background: #FFF;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lm-featured-post .card:hover {
  border-color: #e3a130 !important;
}
.lm-featured-post .swiper {
  width: 100%;
  height: 100%;
}
.lm-featured-post .swiper-slide {
  height: auto !important;
}
.lm-featured-post .swiper-slide-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lm-featured-post .lm-featured-next,
.lm-featured-post .lm-featured-prev {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E3A130;
  transition: 0.5s all ease-in-out;
  border-radius: 50%;
  top: 20px;
  z-index: 1;
}
.lm-featured-post .lm-featured-next:hover,
.lm-featured-post .lm-featured-prev:hover {
  background: #01152b;
}
.lm-featured-post .lm-featured-next::after,
.lm-featured-post .lm-featured-prev::after {
  display: none;
}
.lm-featured-post .lm-featured-next svg,
.lm-featured-post .lm-featured-prev svg {
  width: 14px;
  height: 14px;
}
.lm-featured-post .lm-featured-prev {
  left: auto;
  right: 60px;
}

.lm_upcoming-events.lm-featured-post .swiper.mySwiper-course .card {
  border: none !important;
  box-shadow: none !important;
}
.lm_upcoming-events.lm-featured-post .lm-featured-next,
.lm_upcoming-events.lm-featured-post .lm-featured-prev {
  top: 30px;
}
.lm_upcoming-events.lm-featured-post p.text-dark.d-block.mb-1.title-font {
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

body.dark .lm-featured-post svg path {
  fill: #fff;
}
body.dark .lm-featured-post .card {
  border: 2px solid #e3a130 !important;
}
body.dark .lm-featured-post .card svg path {
  fill: #fff;
}
body.dark .lm-featured-post .mySwiper-post .card:hover {
  border: 2px solid #ffffff !important;
}
body.dark .lm-featured-next:hover,
body.dark .lm-featured-prev:hover {
  background: #03090d;
}
body.dark .lm_upcoming-events.lm-featured-post .card {
  border: 2px solid #e3a130 !important;
}
body.dark .lm_upcoming-events.lm-featured-post .card svg path {
  fill: #fff;
}
body.dark .pe-1 svg path {
  stroke: none !important;
  fill: #fff;
}
body.dark .swiper-button-prev.lm-featured-prev svg path,
body.dark .swiper-button-next.lm-featured-next svg path {
  fill: none !important;
  stroke: #fff;
}

.swiper .swiper-wrapper {
  transition-timing-function: linear;
}

.lm-featured-post .mySwiper-post .card:hover {
  border: 2px solid #e3a130 !important;
}

.lm_upcoming-events .text-dark.d-block.mb-1.title-font a {
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.mb-0.fe-con.text-sm-16 {
  color: #101828;
}

body.dark .mb-0.fe-con.text-sm-16 {
  color: #ffffff;
}/*# sourceMappingURL=create-post.css.map */