body {
  background: #F2F2F2;
}
body .lm_vec {
  position: fixed;
  right: 0;
  bottom: 0;
}
body .lm_vec .light {
  display: block;
}
body .lm_vec .dark {
  display: none;
}

.lm__header-logo {
  display: none;
}

.buttons-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons-group__comment-btn {
  border: 0 none;
  background: red;
  color: white;
  border-radius: 2px;
  z-index: 500;
}
.buttons-group__down-arrow-tip {
  width: 12px;
  height: 12px;
  margin-top: -2px;
  background: black;
  z-index: 500;
  clip-path: polygon(0% 0%, 50% 50%, 100% 0%);
}

.lm__dash-con.lm__event-con.lm_pdf {
  margin-top: 0px !important;
}
.lm__dash-con.lm__event-con.lm_pdf .pdf-title {
  margin-bottom: 30px;
}
.lm__dash-con.lm__event-con.lm_pdf .pdf-title h3 {
  margin-bottom: 0;
}
.lm__dash-con.lm__event-con.lm_pdf .container {
  padding-left: 100px;
  padding-right: 100px;
}
@media (max-width: 1400px) {
  .lm__dash-con.lm__event-con.lm_pdf .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 768px) {
  .lm__dash-con.lm__event-con.lm_pdf .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  border: 0;
  background-color: transparent;
}
@media (max-width: 786px) {
  .lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .card-flex {
    flex-direction: column !important;
  }
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .left-main {
  overflow: hidden;
  position: relative;
  z-index: 2;
}
@media (max-width: 786px) {
  .lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .left-main {
    padding: 20px;
  }
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-left {
  background: #ffffff;
  border-radius: 16px 0 0 16px;
}
@media (max-width: 768px) {
  .lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-left {
    border-right: 0;
  }
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-left h3 {
  font-size: 30px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-left h3 {
    font-size: 25px;
    margin-bottom: 15px;
  }
}
@media (max-width: 575px) {
  .lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-left h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-left h5 {
  font-size: 26px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-left h5 {
    font-size: 20px;
  }
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-left .pdf-left_list ul {
  list-style: disc;
  margin-top: 10px;
  padding-left: 35px;
}
@media (max-width: 575px) {
  .lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-left .pdf-left_list ul {
    padding-left: 15px;
  }
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-left .pdf-left_list ul li {
  color: #fff;
  margin-bottom: 10px;
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-left .pdf-left_list ul a {
  display: inline;
  background-color: #e3a130;
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-left .lm-pdf-addi p {
  margin-bottom: 10px;
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .logo_vec {
  position: absolute;
  left: 0;
  transform: translateY(-50%) !important;
  top: 50%;
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .pdf-left-img {
  margin: 40px 0;
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/pdf-right.jpg") !important;
  border-radius: 0 16px 16px 0;
}
@media (max-width: 768px) {
  .lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right {
    border-left: 0;
  }
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right .lm_right {
  padding: 60px 50px 0px 50px;
}
@media (max-width: 767px) {
  .lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right .lm_right {
    padding: 25px 20px 0px 20px;
  }
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right .lm_right .lm_right-title h3 {
  color: #131A2C;
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right .pdf-date {
  margin-top: 10px;
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right .pdf-date span {
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  background-image: url("../images/date-bg.png");
  background-repeat: no-repeat;
  display: inline-block;
  border-radius: 5px 0 0 5px;
  padding: 5px 35px 5px 12px;
  background-size: 100% 100%;
}
@media (max-width: 768px) {
  .lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right .pdf-date span {
    font-size: 16px;
  }
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right .pdf_con {
  max-height: 710px;
  overflow-y: scroll;
  padding: 20px 20px 60px 35px;
}
@media (max-width: 768px) {
  .lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right .pdf_con {
    height: calc(100vh - 300px);
    padding: 20px;
    padding-left: 0;
  }
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right .pdf_con .ce-paragraph.cdx-block {
  font-family: var(--kalam-font) !important;
  font-size: 22px;
  font-weight: 300;
  color: #000000;
  padding: 0;
}
@media (max-width: 768px) {
  .lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right .pdf_con .ce-paragraph.cdx-block {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right .pdf_con .pdf-padd {
    padding-left: 20px;
  }
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right .pdf_con .pdf-padd .accordion {
  border-left: 5px solid #E2A12D;
  overflow: hidden;
  border-radius: 10px;
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right .pdf_con .pdf-padd .accordion .accordion-item {
  background: #FFEAC5;
  border: 0;
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right .pdf_con .pdf-padd .accordion .accordion-button {
  box-shadow: none;
  background: #FFEAC5;
  outline: none;
  color: #252A36;
  font-size: 22px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right .pdf_con .pdf-padd .accordion .accordion-button {
    font-size: 18px;
  }
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right .pdf_con .pdf-padd .accordion .accordion-button span {
  position: absolute;
  right: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease-in-out;
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right .pdf_con .pdf-padd .accordion .accordion-button:hover span {
  opacity: 1;
  visibility: visible;
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right .pdf_con .pdf-padd .accordion .accordion-button::after {
  background-image: url("../images/arrow-up.svg") !important;
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right .pdf_con .pdf-padd .accordion .accordion-button:not(.collapsed)::after {
  background-image: url("../images/arrow-up.svg") !important;
}
.lm__dash-con.lm__event-con.lm_pdf .lm_pdf-card.card .lm_pdf-right .pdf_con .pdf-padd .pdf-img {
  border-radius: 10px;
  overflow: hidden;
}

.lm_spiral {
  position: absolute;
  right: 50%;
  width: 50px;
  top: 50%;
  transform: translate(50%, -50%);
  overflow: hidden;
  max-height: 620px;
  z-index: 99;
}
@media (max-width: 768px) {
  .lm_spiral {
    display: none;
  }
}

.lm_coches {
  padding-top: 35px;
}
@media (max-width: 768px) {
  .lm_coches {
    flex-direction: column;
    align-items: flex-start !important;
  }
}
.lm_coches .lm_coches-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
}
.lm_coches .lm_coches-con .btn-sm {
  padding: 5px 20px;
  min-width: auto;
}
.lm_coches .lm_coches-con .avtar-45 {
  overflow: hidden;
  margin-right: 8px;
}

span.select2.select2-container.select2-container--default {
  max-width: 140px !important;
  border-radius: 60px !important;
}

span.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus.select2-container--open {
  border-radius: 30px 30px 0 0 !important;
  display: flex;
  align-items: center;
}

span.select2.select2-container.select2-container--default.select2-container--below {
  display: flex;
  align-items: center;
}

span.selection {
  display: flex !important;
  align-items: center !important;
}

span.select2.select2-container.select2-container--default {
  display: flex;
}

.ce-header {
  display: none;
}

.codex-editor__redactor {
  padding-bottom: 0 !important;
}

.ce-example {
  margin-top: 0;
  margin-left: 0;
}

.pdf-padd > div:not(:last-child) {
  margin-bottom: 20px !important;
}

#exampleModal-audit .lm__modal-5 {
  max-width: 725px;
  width: 100%;
}
#exampleModal-audit .lm__modal-5 .btn {
  font-size: 22px !important;
  border-radius: 50px !important;
  padding: 10px 80px !important;
}

/*25-07-2023*/
.lm_pdf .lm_pdf-left .add-note-button {
  position: absolute;
  top: -35px;
  width: 105px;
  right: 50%;
  transform: translateX(50%);
  height: 30px;
  background-color: #e3a22a;
  color: #fff;
  border: 0;
  font-size: 12px;
  text-align: left;
  padding: 8px 11px;
  font-weight: 800;
  line-height: 1.2;
  border-radius: 5px;
}
.lm_pdf .lm_pdf-left .add-note-button::after {
  content: "";
  background-size: 20px;
  background-image: url(../images/add-note.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 11px;
  top: 5px;
}
.lm_pdf .lm_pdf-left span {
  position: relative;
}
.lm_pdf .lm_pdf-left .highlight {
  background-color: #e2a12d;
  color: #ffffff;
  display: inline;
}
.lm_pdf .lm_pdf-left .anchor-text {
  color: #ffffff;
}
.lm_pdf .lm_pdf-left .anchor-text:hover {
  color: inherit;
}
.lm_pdf .lm_pdf-right {
  background-image: url("../images/pdf-right.jpg") !important;
}
.lm_pdf .lm_pdf-right .note {
  background: #FFEAC5;
  padding: 16px 20px;
  border-radius: 10px;
  box-shadow: inset 5px 0 #e2a12d;
  position: relative;
}
.lm_pdf .lm_pdf-right .note h2 {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
  padding-right: 60px;
}
.lm_pdf .lm_pdf-right .note h2:after {
  content: "";
  background-image: url(../images/arrow-up.svg);
  height: 20px;
  width: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-position: center;
  background-size: 20px;
}
.lm_pdf .lm_pdf-right .note-content textarea {
  background: none;
  color: #000000;
  padding: 10px 0;
  border-radius: 0;
  resize: none;
  font-family: "Kalam", cursive;
}
.lm_pdf .lm_pdf-right .note-content span {
  display: block;
  text-align: right;
  font-size: 12px;
  color: #7C7F86;
}
.lm_pdf .lm_pdf-right .note-content .delete-button {
  background-size: 20px;
  border: 0;
  background-image: url(../images/dlt.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-color: transparent;
  position: absolute;
  right: 50px;
  top: 20px;
}

.lm_pdf-main {
  background: #252A36;
}

.lm__modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.lm__modal-overlay .lm__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 25px 40px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: block;
  width: auto;
  height: auto;
}
.lm__modal-overlay .lm__modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.lm__modal-overlay .lm__modal-buttons button {
  margin-left: 10px;
}

.flip-button svg path {
  fill: #E3A130;
}

/*08-08-2023*/
.lm__checklist p {
  font-family: var(--kalam-font);
}
.lm__checklist .lm__listchecked {
  flex: 0 0 88px;
  max-width: 88px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .lm__checklist .lm__listchecked {
    flex: 0 0 50px;
    max-width: 50px;
  }
}
.lm__checklist .lm__listchecked img {
  display: none;
  user-select: none;
}
.lm__checklist .lm__listchecked.active img {
  display: block;
}
.lm__checklist .lm__listtext {
  flex: 0 0 calc(100% - (88px + 3rem));
  max-width: calc(100% - (88px + 3rem));
}
@media (max-width: 992px) {
  .lm__checklist .lm__listtext {
    flex: 0 0 calc(100% - (50px + 1rem));
    max-width: calc(100% - (50px + 1rem));
  }
}
.lm__checklist .lm__listchecked, .lm__checklist .lm__listtext {
  background-color: #FFD3C5;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.1);
}

.lm__consumption .lm__day {
  flex: 0 0 calc(50% - 0.75rem);
  max-width: calc(50% - 0.75rem);
}
@media (max-width: 767px) {
  .lm__consumption .lm__day {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.lm__consumption-edit textarea, .lm__task-editor textarea {
  resize: none;
  min-height: 120px;
  background-color: #FFEAC5;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.1);
  font-family: var(--kalam-font);
}

.pdf-editor img.fr-fic.fr-dib.fr-fil.fr-draggable {
  width: 130px !important;
}

.pdf-editor .banner {
  width: 1920px !important;
  overflow: hidden;
  display: block !important;
}
.pdf-editor .banner img.fr-fic.fr-dib {
  overflow: hidden;
  max-height: 750px !important;
  object-fit: cover !important;
}

.left-main img[style="width: 130px;"] {
  width: 130px !important;
}

p.banner {
  height: 750px;
  top: 0px;
  position: absolute;
  z-index: -1;
}

p.banner img.fr-fic.fr-dib {
  max-height: 730px;
  object-fit: cover;
  border-radius: 0 !important;
}

span[style="font-size: 30px; color: red;"] {
  width: 100%;
  height: 100%;
}

td span img {
  display: inline-block !important;
}

.fr-fic.fr-dii {
  display: inline-block !important;
}

/*25-07-2023*/
.lm_pdf .lm_pdf-left .add-note-button {
  position: absolute;
  top: -35px;
  width: 105px;
  right: 50%;
  transform: translateX(50%);
  height: 30px;
  border: 0;
  font-size: 12px;
  text-align: left;
  padding: 8px 11px;
  font-weight: 800;
  line-height: 1.2;
  border-radius: 5px;
}
.lm_pdf .lm_pdf-left .add-note-button::after {
  content: "";
  background-size: 20px;
  background-image: url(../images/add-note.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 11px;
  top: 5px;
}
.lm_pdf .lm_pdf-left span {
  position: relative;
}
.lm_pdf .lm_pdf-left .highlight {
  background-color: #e2a12d;
  color: #ffffff;
  display: inline;
}
.lm_pdf .lm_pdf-left .anchor-text {
  color: #ffffff;
  display: inline;
  background-color: #e3a22a;
}
.lm_pdf .lm_pdf-left .anchor-text:hover {
  color: inherit;
}
.lm_pdf .lm_pdf-right .note {
  background: #FFEAC5;
  padding: 16px 20px;
  border-radius: 10px;
  box-shadow: inset 5px 0 #e2a12d;
  position: relative;
  margin-bottom: 15px;
}
.lm_pdf .lm_pdf-right .note h2 {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
  padding-right: 60px;
}
.lm_pdf .lm_pdf-right .note h2:after {
  content: "";
  background-image: url(../images/arrow-up.svg);
  height: 20px;
  width: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-position: center;
  background-size: 20px;
}
.lm_pdf .lm_pdf-right .note-content textarea {
  background: none;
  color: #000000;
  padding: 10px 0;
  border-radius: 0;
  resize: none;
  font-family: "Kalam", cursive;
}
.lm_pdf .lm_pdf-right .note-content span {
  display: block;
  text-align: right;
  font-size: 12px;
  color: #7C7F86;
}
.lm_pdf .lm_pdf-right .note-content .delete-button {
  background-size: 20px;
  border: 0;
  background-image: url(../images/dlt.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-color: transparent;
  position: absolute;
  right: 50px;
  top: 20px;
}

.lm_pdf-main {
  background: #252A36;
  border-radius: 0 20px 20px 0;
}

.lm__modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.lm__modal-overlay .lm__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 25px 40px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: block;
  width: auto;
  height: auto;
}
.lm__modal-overlay .lm__modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.lm__modal-overlay .lm__modal-buttons button {
  margin-left: 10px;
}

.flip-button svg path {
  fill: #E3A130;
}

/*08-08-2023*/
.lm__checklist p {
  font-family: var(--kalam-font);
}
.lm__checklist .lm__listchecked {
  flex: 0 0 88px;
  max-width: 88px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .lm__checklist .lm__listchecked {
    flex: 0 0 50px;
    max-width: 50px;
  }
}
.lm__checklist .lm__listchecked img {
  display: none !important;
  user-select: none !important;
}
.lm__checklist .lm__listchecked.active img {
  display: block !important;
}
.lm__checklist .lm__listtext {
  flex: 0 0 calc(100% - (88px + 3rem));
  max-width: calc(100% - (88px + 3rem));
}
@media (max-width: 992px) {
  .lm__checklist .lm__listtext {
    flex: 0 0 calc(100% - (50px + 1rem));
    max-width: calc(100% - (50px + 1rem));
  }
}
.lm__checklist .lm__listchecked, .lm__checklist .lm__listtext {
  background-color: #FFD3C5;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.1);
}

.lm__consumption .lm__day {
  flex: 0 0 calc(50% - 0.75rem);
  max-width: calc(50% - 0.75rem);
}
@media (max-width: 767px) {
  .lm__consumption .lm__day {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.lm__consumption-edit textarea, .lm__task-editor textarea {
  resize: none;
  min-height: 120px;
  background-color: #FFEAC5;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.1);
  font-family: var(--kalam-font);
}

/*26-09-2023*/
.lm__interactive-audio .dropdown-menu.show {
  z-index: 999 !important;
}
.lm__interactive-audio audio {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: inherit;
}

h1 {
  font-size: 18px;
}

img[style="width: 50px;"] {
  width: 30px !important;
}

p.banner img {
  width: 588px !important;
  height: 320px !important;
  position: absolute;
  top: 0;
  z-index: -1;
}

.rounded-pill {
  border-radius: 100%;
}

.shadow {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1490196078) !important;
}

.dropdown-custom {
  background-color: #fff;
  border-radius: 100px;
  padding: 8px;
  display: inline-flex;
  justify-content: end;
  margin: auto;
}

.lm__interactive-audio .dropdown-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  transform: translate(0px, 44px);
  background: white;
  width: 350px !important;
  height: auto !important;
  padding: 15px;
  top: 0 !important;
  z-index: 99 !important;
}
.lm__interactive-audio .dropdown-menu.show-menu {
  visibility: visible;
  opacity: 1;
  z-index: 99;
  top: 20px !important;
}

.lm__task-editor textarea {
  border-radius: 20px !important;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.lm__book {
  overflow: hidden;
  border-radius: 20px;
  margin-right: 40px !important;
}

.lm_pdf-card h1, .lm_pdf-card h2, .lm_pdf-card p, .lm_pdf-card span, .lm_pdf-card tr, .lm_pdf-card td, .lm_pdf-card th {
  font-family: "PlayfairDisplay", sans-serif !important;
}
.lm_pdf-card .lm__consumption-edit textarea, .lm_pdf-card .lm__task-editor textarea {
  font-family: "PlayfairDisplay", sans-serif !important;
}

.gap-4 {
  gap: 15px;
}

.left-main.fr-view p {
  padding: 0 22px;
}

h1.fr-text-uppercase + a {
  font-size: 30px;
  width: 340px !important;
  text-transform: uppercase;
  display: inline-block !important;
  margin-left: 25px;
}/*# sourceMappingURL=HighlightButtonsGroup.css.map */